/* style.css */

html, body {
  height:100%
}

body {
  background:#000000;
  color:#ffffff;
  margin: 0;
  display: flex;

  justify-content: center;
  align-items: center;
}

.button {
  background-color:black;
  border: 1px solid white;
  color:white;
  padding:15px 30px;
  align-content: justify;
  text-align:center;
}

#menuContainer {
  width:800px;
  height:500px;
  margin: 0 auto;
  position:relative;
}
